<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.board-Mapper">

<select id="getBoardList" resultType="board">
SELECT * FROM board order BY id DESC;
</select>

<insert id="boardwrite">
insert into board (id,category,title,content,region,choose,object,price,users,views,createtime,updatetime,ThumImg,Img) 
values(#{id},null,#{title},#{content},null,null,null,null,#{users},#{views},now(),null,#{ThumImg},#{Img});
</insert>

<select id="getBoardDetail" resultType="board">
SELECT * FROM board where id = #{id};
</select>

<!-- update -->
<update id="viewUpdate">
UPDATE board SET views = views+1 WHERE id = #{id}
</update>

<!-- delete-->
<delete id="boardDelete" parameterType="int">
DELETE FROM board WHERE id = #{id}
</delete>

<!-- update-->
<update id="boardUpdate" >
UPDATE board SET title = #{title}, content = #{content}	WHERE	id = #{id} 
</update>


<!-- 상품 댓글 작성 -->
<insert id="comments">
 insert into board_comments (boardid, users, comtNum, comtCon)
     values (#{boardid}, #{users}, #{comtNum}, #{comtCon})
</insert>

</mapper>
